* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 1000px;
    height: 1000px;
    background: pink;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.container h1 {
    margin-top: 70px;
}

.container .main-image {
    overflow: hidden;
    border-radius: 30px;
    width: 800px;
    height: 700px;
    position: absolute;
    top: 170px;
    left: 100px;
}